.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-detail
      .chat-main__group-info__group-detail__group-name
        = @group.name
      %ul.chat-main__group-info__group-detail__member-name
        Member :
        %li.chat-main__group-info__group-detail__member-name-list
          - @group.users.each do |user|
            = user.name
        -# = current_user.name
    .chat-main__group-info__edit-box
      .chat-main__group-info__edit-box__edit
        = link_to edit_group_path(current_user), class: "chat-main__group-info__edit-box__edit__btn" do
          Edit
  .chat-main__message-main
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message__text', placeholder: ' type a message'
      .new_message__mask
        = f.label :image, class: 'new_message__mask__image' do
          = icon('fas', 'image', class: 'new_message__mask__image__icon')
          = f.file_field :image, class: 'new_message__mask__image__hidden'
      = f.submit 'Send', class: 'new_message__submit'
