.chat-main
  .chat-main__group-info
    .chat-main__group-info__group-detail
      .chat-main__group-info__group-detail__group-name
        test
      .chat-main__group-info__group-detail__member-name
        masa
    .chat-main__group-info__edit-box
      .chat-main__group-info__edit-box__edit
        = link_to "#", class: "chat-main__group-info__edit-box__edit__btn" do
          Edit
  .chat-main__message-main
    = render @messages
    .chat-main__message-main__message-box
      .chat-main__message-main__message-box__message-info   
        .chat-main__message-main__message-box__message-info__message-name
          = message.user.name
        .chat-main__message-main__message-box__message-info__message-date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .chat-main__message-main__message-box__message-detail
        - if message.content.present?
          %p.chat-main__message-main__message-box__message-detail__content
            = message.content
        = image_tag message.image.url, class: 'chat-main__message-main__message-box__message-detail__image' if message.image.present?
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__message-form__text', placeholder: 'type a message'
      .chat-main__message-form__mask
        = f.label :image, class: 'chat-main__message-form__mask__image' do
          = icon('fas', 'image', class: 'chat-main__message-form__mask__image__icon')
          = f.file_field :image, class: 'chat-main__message-form__mask__image__hidden'
      = f.submit 'Send', class: 'chat-main__message-form__submit'